<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="../static/js/login.js"></script>
</head>
<body onload="validateForm()">
<div class="container" style="height: 500px;width: 400px;margin-top: 300px;margin-left: 1400px">
    <img id="img1" src="../img/login1.jpg">
    <form action="/login/byId/" method="post">
    <table class="table table-striped table-bordered" id="loginfig" name="myForm">
        <thead>
        <tr>
            <th colspan=2 style="text-align: center"><h4>Welcome to EatScent</h4></th>
            <th>111</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td id="username"><h6>用户名</h6></td>
            <td><input class="text"></td>
        </tr>
        <tr>
            <td id="password"><h6>密码</h6></td>
            <td><input class="password-field" id="password_text" name="ptext"></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" id="loginsub"
                        class="btn btn-outline-primary"style="width: 300px;margin-left:20px">登录</button>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="index.html" class="btn" role="button" style="font-size: small;float: right;color: blue">忘记密码？</a>
                <a href="hello.html" class="btn" role="button" style="font-size: small;float: right">去注册</a>
            </td>
        </tr>
        </tbody>
    </table>
    </form>
</div>
</body>
</html>