<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.eatscent.dao.UserMapper">
    <resultMap id="UserResultMap" type="com.example.eatscent.entity.User">
        <id column="UserID" jdbcType="INTEGER" property="UserID"/>
        <result column="UserName" jdbcType="VARCHAR" property="UserName"/>
        <result column="Password" jdbcType="VARCHAR" property="Password"/>
        <result column="UserIphone" jdbcType="VARCHAR" property="UserIphone"/>
        <result column="UserAdress" jdbcType="VARCHAR" property="UserAdress"/>
        <result column="UserGread" jdbcType="VARCHAR" property="UserGread"/>
        <result column="UserComment" jdbcType="VARCHAR" property="UserComment"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insertByPrimaryKey" parameterType="com.example.eatscent.entity.User">
        <selectKey keyProperty="UserID" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user (UserID,UserName,Password,UserIphone,UserAdress,UserGread,UserComment
        )
        values (#{UserID},#{UserName,jdbcType=VARCHAR},#{Password,jdbcType=TIMESTAMP}, #{UserIphone,jdbcType=VARCHAR},
        #{UserAdress,jdbcType=VARCHAR}, #{UserGread,jdbcType=VARCHAR}, #{UserComment,jdbcType=VARCHAR}
        )
    </insert>
    <select id="selectByLogin" parameterType="com.example.eatscent.entity.User" resultMap="UserResultMap">
        select * from user where UserName= #{UserName,jdbcType=VARCHAR} and  Password =#{Password,jdbcType=TIMESTAMP}
    </select>
    <update id="updateByPrimaryKey" parameterType="com.example.eatscent.entity.User">
        update user
        set address = #{address,jdbcType=VARCHAR},
        createDate = #{createdate,jdbcType=TIMESTAMP},
        email = #{email,jdbcType=VARCHAR},
        idcard = #{idcard,jdbcType=VARCHAR},
        imagePath = #{imagepath,jdbcType=VARCHAR},
        mobile = #{mobile,jdbcType=VARCHAR},
        password = #{password,jdbcType=VARCHAR},
        realName = #{realname,jdbcType=VARCHAR},
        sex = #{sex,jdbcType=VARCHAR},
        type = #{type,jdbcType=INTEGER},
        userName = #{username,jdbcType=VARCHAR},
        description = #{description,jdbcType=VARCHAR},
        title = #{title,jdbcType=VARCHAR},
        bankno = #{bankno,jdbcType=VARCHAR},
        bankpassword = #{bankpassword,jdbcType=VARCHAR},
        cardImage = #{cardimage,jdbcType=VARCHAR},
        lawtype = #{lawtype,jdbcType=INTEGER},
        level = #{level,jdbcType=VARCHAR}
    </update>

    <select id="selectByLoginID" resultMap="UserResultMap">
        select * from user where UserID = #{id}
    </select>
</mapper>